* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
  padding: 0 7rem;
}

body h1 {
  text-align: center;
  margin: 8vh 0;
  font-size: 5rem; ;
}
.card-product-container {
  margin: 5vh auto;
}

.card-products {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5rem;
}

.product {
  border: 2px solid gray;
  padding: 3rem;
  box-shadow: 0 0 10px 0 rgba(3, 199, 13, 0.7);
}

.card-products .card__img {
  margin-top: 40px;
  width: 10rem;
  height: auto;
}

.card-products .card__btn {
  border: 2px solid currentColor;
  outline: none;
  margin: 1rem auto;
  padding: 10px;
  background-color: #05b91d;
  color: white;
  cursor: pointer;
  width: 100%;
  font-size: 1rem;
  border-radius: 40px;
}

.card-products .card__btn:hover {
  background-color: #f5f5f5;
  color: #05b91d;
}
